@font-face {
	font-family: "Rockwell";
	src: url("../fonts/rock.ttf");
}
@font-face {
	font-family: "RockwellBold";
	src: url("../fonts/rockb.ttf");
}
body{
	font-size:17px;
	background: lightgrey;
	font-family: Rockwell;
}
.navbar{
	padding-left:10vw;
}
.navbar-brand{
	font-family: RockwellBold;
}
.active:hover{
	cursor:not-allowed;
}
.primary{
	margin-top: 5vh;
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title{
	font-size:25px;
	padding-top:15px;
	padding-bottom: 15px;
	font-family: RockwellBold;
}
p{
	margin-bottom: 0;
	padding-bottom: 12px;
}
@media screen and (max-width:768px){
	.navbar{
		padding-left:4vw;
	}
	.navbar-brand{
		font-size: 20px;
	}
	.navbar-nav{
		margin-top: 5px;
		border-top-style: solid;
   		border-width: 3px;
	}
	.primary{
		margin-top:0;
	}
}
@media screen and (max-width:320px){
	.navbar-brand{
		font-size: 15px;
	}
	.container{
		font-size: 15px;
	}
}