body {
	background: lightgrey;
	font-family: Calibri, sans-serif;
}
img{
	position: relative;
	top:50vh;
	transform: translateY(-50%);
}
.logo{
	position: absolute;
	top: 100vh;
	left: 100vw;
	transform: translateY(-100%) translateX(-110%);
	z-index: 5;
}
.rom{
	border-radius: 50%;
	background-color: white;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	margin-top: 30px;
  	margin-left: 10px;
}
@media screen and (max-width: 480px){
	img{
		top:28vh;
	}
	.logo{
	position: absolute;
	top: 13vh;
	left: 100vw;
	height: 80px;
	width: 80px;
	z-index: -5;
	}
	.down{
		margin-top: 15%;
	}
}
@media screen and (max-width: 768px)
{
	.logo{
		position: absolute;
		top: 13vh;
		left: 100vw;
		height: 80px;
		width: 80px;
		z-index: -5;
}
