@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Bold.ttf");
	font-weight: 700;
}
body {
	background: lightgrey;
	font-family: Calibri, sans-serif;
}
center{
	position: relative;
	top:50vh;
	transform: translateY(-50%);
}
@media screen and (max-width: 480px){
	center{
		top:28vh;
	}
}
